// SPDX-License-Identifier: GPL-2.0-only
/*
 * Sharp Brain first-generation device tree.
 */
/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "tmpa910.dtsi"

/ {
	model = "Sharp Brain first generation";
	compatible = "sharp,brain-gen1", "toshiba,tmpa910";

	vcc_touch: regulator-vcc-touch {
		compatible = "regulator-fixed";
		regulator-name = "vcc-touch";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		bootargs = "console=ttyAMA0,115200n8 console=tty0";
		stdout-path = "serial0:115200n8";

		framebuffer0: framebuffer@43e00000 {
			compatible = "simple-framebuffer";
			reg = <0x43e00000 0x00050000>;
			width = <480>;
			height = <320>;
			stride = <1024>;
			format = "r5g6b5";
		};
	};

	aliases {
		serial0 = &uart0;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x04000000>;
	};


	keyboard@f0800000 {
		compatible = "sharp,brain-gen1-keyboard";
		matrix-in-gpios =
			<&gpio_a 0 GPIO_ACTIVE_HIGH>,
			<&gpio_a 1 GPIO_ACTIVE_HIGH>,
			<&gpio_a 2 GPIO_ACTIVE_HIGH>,
			<&gpio_a 3 GPIO_ACTIVE_HIGH>,
			<&gpio_a 4 GPIO_ACTIVE_HIGH>,
			<&gpio_a 5 GPIO_ACTIVE_HIGH>,
			<&gpio_a 6 GPIO_ACTIVE_HIGH>,
			<&gpio_a 7 GPIO_ACTIVE_HIGH>;
		matrix-out-gpios =
			<&gpio_b 0 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>,
			<&gpio_b 1 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>,
			<&gpio_b 2 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>,
			<&gpio_b 3 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>,
			<&gpio_b 4 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>,
			<&gpio_b 5 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>,
			<&gpio_b 6 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>,
			<&gpio_b 7 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		framebuffer@43e00000 {
			reg = <0x43e00000 0x00050000>;
			no-map;
		};
	};
};

&uart0 {
	status = "okay";
};


&gpio_c {
	status = "okay";
};

&gpio_a {
	status = "okay";
};

&gpio_b {
	status = "okay";
};


&gpio_t {
	status = "okay";
	toshiba,ssp0-function;
};

&ssp0 {
	status = "okay";

	ak4182a@0 {
		compatible = "akm,ak4182a", "ti,ads7846";
		reg = <0>;
		spi-max-frequency = <2000000>;
		/* PC7/INT9 is aggregated by the TMPA910 GPIOC VIC source (30). */
		interrupt-parent = <&gpio_c>;
		interrupts = <7 IRQ_TYPE_EDGE_FALLING>;
		pendown-gpio = <&gpio_c 7 GPIO_ACTIVE_LOW>;
		vcc-supply = <&vcc_touch>;
		ti,x-plate-ohms = <280>;
		touchscreen-size-x = <4096>;
		touchscreen-size-y = <4096>;
	};
};

&sdhi0 {
	/* The slot's SDHI card-detect status stays low with a card inserted. */
	broken-cd;
	status = "okay";
};
