// SPDX-License-Identifier: GPL-2.0-only
/*
 * Sharp Brain first generation, based on MuCross TMPA9xx Linux 2.6.36:
 * https://mucross.com/downloads/tx09-linux/Release-20110309/src/
 * Copyright (C) 2010 Thomas Haase (Thomas.Haase@web.de)
 */
/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "tmpa910.dtsi"

/ {
	model = "Sharp Brain first generation";
	compatible = "sharp,brain-gen1", "toshiba,tmpa910";

	vcc_touch: regulator-vcc-touch {
		compatible = "regulator-fixed";
		regulator-name = "vcc-touch";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		bootargs = "console=ttyAMA0,115200n8 console=tty0";
		stdout-path = "serial0:115200n8";

		framebuffer0: framebuffer@43e00000 {
			compatible = "simple-framebuffer";
			reg = <0x43e00000 0x00050000>;
			width = <480>;
			height = <320>;
			stride = <1024>;
			format = "r5g6b5";
		};
	};

	aliases {
		serial0 = &uart0;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x04000000>;
	};


	keyboard@f0800000 {
		compatible = "sharp,brain-gen1-keyboard";
		reg = <0xf0800000 0x1000>, <0xf0801000 0x1000>;
		reg-names = "gpioa", "gpiob";
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		framebuffer@43e00000 {
			reg = <0x43e00000 0x00050000>;
			no-map;
		};
	};
};

&uart0 {
	status = "okay";
};


&gpio_c {
	status = "okay";
};

&gpio_t {
	status = "okay";
};

&ssp0 {
	status = "okay";

	ak4182a@0 {
		compatible = "akm,ak4182a", "ti,ads7846";
		reg = <0>;
		spi-max-frequency = <2000000>;
		/* PC7/INT9 is aggregated by the TMPA910 GPIOC VIC source (30). */
		interrupt-parent = <&gpio_c>;
		interrupts = <7 IRQ_TYPE_EDGE_FALLING>;
		pendown-gpio = <&gpio_c 7 GPIO_ACTIVE_LOW>;
		vcc-supply = <&vcc_touch>;
		ti,x-plate-ohms = <280>;
		touchscreen-size-x = <4096>;
		touchscreen-size-y = <4096>;
	};
};

&sdhi0 {
	/* The slot's SDHI card-detect status stays low with a card inserted. */
	broken-cd;
	status = "okay";
};
