// SPDX-License-Identifier: GPL-2.0-only
/*
 * Toshiba TMPA910 description, based on MuCross Linux 2.6.36:
 * https://mucross.com/downloads/tx09-linux/Release-20110309/src/
 * Copyright (C) 2010 Thomas Haase (Thomas.Haase@web.de)
 */
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "toshiba,tmpa910";
	interrupt-parent = <&vic>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		cpu@0 {
			compatible = "arm,arm926ej-s";
			device_type = "cpu";
			reg = <0>;
		};
	};

	pclk: peripheral-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		vic: interrupt-controller@f4000000 {
			compatible = "arm,pl190-vic";
			interrupt-controller;
			#interrupt-cells = <1>;
			reg = <0xf4000000 0x1000>;
		};

		timer@f0042000 {
			compatible = "toshiba,tmpa910-timer";
			reg = <0xf0042000 0x1000>, <0xf0050040 0x18>;
			reg-names = "timer", "clock-control";
			interrupts = <4>;
			clock-frequency = <195312>;
		};

		gpio_c: gpio@f0802000 {
			compatible = "toshiba,tmpa910-gpioc";
			reg = <0xf0802000 0x1000>;
			interrupts = <30>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			status = "disabled";
		};

		gpio_t: gpio@f080f000 {
			compatible = "toshiba,tmpa910-gpiot";
			reg = <0xf080f000 0x1000>;
			gpio-controller;
			#gpio-cells = <2>;
			status = "disabled";
		};

		ssp0: spi@f2002000 {
			compatible = "arm,pl022", "arm,primecell";
			reg = <0xf2002000 0x1000>;
			interrupts = <12>;
			clocks = <&pclk>;
			clock-names = "apb_pclk";
			arm,primecell-periphid = <0x00041022>;
			num-cs = <1>;
			cs-gpios = <&gpio_t 0 GPIO_ACTIVE_LOW>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		uart0: serial@f2000000 {
			compatible = "arm,pl011", "arm,primecell";
			reg = <0xf2000000 0x1000>;
			interrupts = <10>;
			clocks = <&pclk>, <&pclk>;
			clock-names = "uartclk", "apb_pclk";
			status = "disabled";
		};


		sdhi0: mmc@f2030000 {
			compatible = "toshiba,tmpa910-sdhi";
			reg = <0xf2030000 0x400>,
			      <0xf005004c 0x4>,
			      <0xf0806000 0x1000>;
			reg-names = "sdhi", "clock-control", "port-g";
			interrupts = <22>;
			bus-width = <4>;
			max-frequency = <50000000>;
			status = "disabled";
		};
	};
};
